@{
    ViewData["Title"] = "Home";
}

<section class="pt-5 pb-3 text-center container-fluid bg-secondary">
    <div class="row">
        <div class="col mx-auto">
            <h1 class="text-black">Bands</h1>
            <div class="group">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-black btn-filter">Ver
                    Todos</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Heavy Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Thrash Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Power Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Hard Rock</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Nu Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Death Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Glam Metal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Rock Psicodélico</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Rock Progressivo</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Punk Rock</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Blues Rock</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:rgb(51, 47, 47)">Grunge</button>
            </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-secondary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer hard rock" onclick="GetInfo(001)">
                    <img src="img/bandas/Ac15.png" class="card-img-top" width="100%" height="300%" alt="Highway to Hell" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 001</p>
                        <h3 class="card-title">AC/DC</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Hard Rock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer grunge" onclick="GetInfo(002)">
                    <img src="img/bandas/Alice18.png" class="card-img-top" width="100%" height="300%" alt="Dirt" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 002</p>
                        <h3 class="card-title">Alice in Chains</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Grunge</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer power metal" onclick="GetInfo(003)">
                    <img src="img/bandas/Angra09.png" class="card-img-top" width="100%" height="300%" alt="Temple of Shadows" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 003</p>
                        <h3 class="card-title">Angra</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Power Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer thrash metal" onclick="GetInfo(004)">
                    <img src="img/bandas/Anthrax08.png" class="card-img-top" width="100%" height="300%" alt="Among the Living" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 004</p>
                        <h3 class="card-title">Anthrax</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Thrash Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer heavy metal" onclick="GetInfo(005)">
                    <img src="img/bandas/Black04.png" class="card-img-top" width="100%" height="300%" alt="Paranoid" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 005</p>
                        <h3 class="card-title">Black Sabbath</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Heavy Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer hard rock" onclick="GetInfo(006)">
                    <img src="img/bandas/Bon14.png" class="card-img-top" width="100%" height="300%" alt="Slippery When Wet" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 006</p>
                        <h3 class="card-title">Bon Jovi</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Hard Rock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer death metal" onclick="GetInfo(007)">
                    <img src="img/bandas/Carcass27.png" class="card-img-top" width="100%" height="300%" alt="Heartwork" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 007</p>
                        <h3 class="card-title">Carcass</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Death Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer death metal" onclick="GetInfo(8)">
                    <img src="img/bandas/Death25.png" class="card-img-top" width="100%" height="300%" alt="The Sound of Persevence" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 008</p>
                        <h3 class="card-title">Death</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Death Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer power metal" onclick="GetInfo(9)">
                    <img src="img/bandas/DragonForce12.png" class="card-img-top" width="100%" height="300%" alt="Inhuman Rampage" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 009</p>
                        <h3 class="card-title">DragonForce</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Power Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer hard rock" onclick="GetInfo(010)">
                    <img src="img/bandas/Guns13.png" class="card-img-top" width="100%" height="300%" alt="Appetite for Destruction" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 010</p>
                        <h3 class="card-title">Guns N' Roses</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Hard Rock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer power metal" onclick="GetInfo(011)">
                    <img src="img/bandas/Helloween11.png" class="card-img-top" width="100%" height="300%" alt="Keeper of the Seven Keys Part 2" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 011</p>
                        <h3 class="card-title">Helloween</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Power Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer heavy metal" onclick="GetInfo(012)">
                    <img src="img/bandas/Iron01.png" class="card-img-top" width="100%" height="300%" alt="The Number of the Beast" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 012</p>
                        <h3 class="card-title">Iron Maiden</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Heavy Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer heavy metal" onclick="GetInfo(013)">
                    <img src="img/bandas/Judas03.png" class="card-img-top" width="100%" height="300%" alt="British Steel" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 013</p>
                        <h3 class="card-title">Judas Priest</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Heavy Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer nu metal" onclick="GetInfo(014)">
                    <img src="img/bandas/Korn23.png" class="card-img-top" width="100%" height="300%" alt="Korn" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 014</p>
                        <h3 class="card-title">Korn</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Nu Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer heavy metal hard rock" onclick="GetInfo(015)">
                    <img src="img/bandas/Led02.png" class="card-img-top" width="100%" height="300%" alt="Led Zeppelin IV" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 015</p>
                        <h3 class="card-title">Led Zeppelin</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Heavy Metal</a>
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Hard Rock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer nu metal" onclick="GetInfo(016)">
                    <img src="img/bandas/Limp24.png" class="card-img-top" width="100%" height="300%" alt="Significant Other" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 016</p>
                        <h3 class="card-title">Limp Bizkit</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Nu Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer nu metal" onclick="GetInfo(017)">
                    <img src="img/bandas/Linkin21.png" class="card-img-top" width="100%" height="300%" alt="Hybrid Theory" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 017</p>
                        <h3 class="card-title">Linkin Park</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Nu Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer thrash metal" onclick="GetInfo(018)">
                    <img src="img/bandas/Megadeth06.png" class="card-img-top" width="100%" height="300%" alt="Rust in Peace" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 018</p>
                        <h3 class="card-title">Megadeth</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Thrash Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer thrash metal heavy metal" onclick="GetInfo(019)">
                    <img src="img/bandas/Metallica05.png" class="card-img-top" width="100%" height="300%" alt="Black Album" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 019</p>
                        <h3 class="card-title">Metallica</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Thrash Metal</a>
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Heavy Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer death metal" onclick="GetInfo(020)">
                    <img src="img/bandas/Morbid28.png" class="card-img-top" width="100%" height="300%" alt="Altars of Madness" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 020</p>
                        <h3 class="card-title">Morbid Angel</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Death Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer grunge" onclick="GetInfo(021)">
                    <img src="img/bandas/Nirvana17.png" class="card-img-top" width="100%" height="300%" alt="Nevermind" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 021</p>
                        <h3 class="card-title">Nirvana</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Grunge</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer grunge" onclick="GetInfo(022)">
                    <img src="img/bandas/Pearl19.png" class="card-img-top" width="100%" height="300%" alt="Ten" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 022</p>
                        <h3 class="card-title">Pearl Jam</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Grunge</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer death metal thrash metal" onclick="GetInfo(023)">
                    <img src="img/bandas/Sepultura26.png" class="card-img-top" width="100%" height="300%" alt="Roots" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 023</p>
                        <h3 class="card-title">Sepultura</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Death Metal</a>
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Thrash Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer thrash metal" onclick="GetInfo(024)">
                    <img src="img/bandas/Slayer07.png" class="card-img-top" width="100%" height="300%" alt="Reign in Blood" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 024</p>
                        <h3 class="card-title">Slayer</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Thrash Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer nu metal" onclick="GetInfo(025)">
                    <img src="img/bandas/Slipknot22.png" class="card-img-top" width="100%" height="300%" alt=".5: The Gray Chapter" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 025</p>
                        <h3 class="card-title">Slipknot</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Nu Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer grunge" onclick="GetInfo(026)">
                    <img src="img/bandas/Soundgarden20.png" class="card-img-top" width="100%" height="300%" alt="Superunknown" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 026</p>
                        <h3 class="card-title">Soundgarden</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Grunge</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer power metal" onclick="GetInfo(027)">
                    <img src="img/bandas/Stratovarius10.png" class="card-img-top" width="100%" height="300%" alt="Visions" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 027</p>
                        <h3 class="card-title">Stratovarius</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Power Metal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer hard rock" onclick="GetInfo(028)">
                    <img src="img/bandas/Van16.png" class="card-img-top" width="100%" height="300%" alt="5150" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 028</p>
                        <h3 class="card-title">Van Halen</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:rgb(51, 47, 47)">Hard Rock</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->


            <div id="zeroBanda" class="col-lg-12 text-center" hidden>
                <h1 class="my-3 text-danger">Nenhuma Banda Encontrada</h1>
            </div>
        </div>


    </div>
</div>


